* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: none;
}

header nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 100px;
    width: 120px;
    margin-left: 40px;
    margin-top: 10px;
    transition: all .3s ease;
}

nav img:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    margin-right: 60px;
    margin-top: 33px;
}

nav ul li {
    list-style-type: none;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    border: 1px solid #000;
    padding: 6px 25px 6px 25px;
    border-radius: 14px;
}

nav ul li a:hover {
    background: rgb(20, 50, 50);
    color: #fff;
}

.img-container img {
    float: right;
    margin-right: 150px;
    margin-top: 20px;
    height: 360px;
    width: 260px;
}

.content {
    position: absolute;
    top: 26%;
    left: 10%;
}

.content h1 {
    font-size: 4em;
    font-weight: bolder;
    margin-left: 40px;
    font-family: sans-serif;
}

.content p {
    margin-left: 40px;
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.content a {
    border: 1px solid #000;
    margin-left: 40px;
    color: #fff;
    background-color: #000;
    padding: 5px 10px 5px 10px;
}

.end-container {
    position: absolute;
    bottom: 8%;
    left: 33%;
}

.end-container img {
    height: 70px;
    width: 55px;
    margin-right: 30px;
    transition: all .4s ease;
}

.end-container img:hover {
    transform: translateY(-30px);
}


@media (max-width:720px) {
    .content{
        margin: auto;
        font-size: 0.7em;
    }
    .img-container img{
        position: absolute;
        top: 14%;
        right: -20%;
        height: 270px;
        width: 180px;
    }

    .content p{
        font-size: 1em;
    }
    .end-container{
        left: 13%; 
    }
}

@media (max-width: 512px){
    body{
        overflow-y: scroll;
        min-height: 100vh;
    }
    .content{
        position: absolute;
        top: 15%;
    }
    .img-container img{
        position: absolute;
        top: 40%;
        left: 30%;
        height: 270px;
        width: 175px;
    }
    .end-container{
        position: absolute;
        top: 85%;
        display: flex;
    }
    nav ul li {
        display: none;
    }
    nav ul li a{
        padding: 10px;
    }
    .end-container img {
        height: 60px;
        width: 40px;
        margin-right: 30px;
    }

}